.header1
{
    text-align: center;

}

.image1 
{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.image2
{
    
   
}

.image3
{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.p
{
    text-align:center;
}

.imagelast
{
    margin-left:auto;
    margin-right:auto;
    width:40%;
}

.headerlast
{
    
}